
# Logs and stuff
/log/
/.vs/

# External dependencies
/external/nbtpp
/external/stde

# Build directory
/Debug/
/build/
/out/

# Eclipse stuff
.settings
.cproject
.project
.externalToolBuilders

# Temporary lock files
*~

# World
world/

